<div class="mb-6 flex flex-row items-center justify-between gap-3">
  <h2 class="text-title-md2 font-bold text-black dark:text-white">Posters</h2>
</div>

<div class="max-w-full">
  {live_render(@conn, PinchflatWeb.Posters.PosterLive)}
</div>
